In [1]:
# Imports necessary libraries.
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# MySQL database credentials
uname = 'root'
pw = '12345678'
db_name = 'youtube_statistics'

In [3]:
# List of dataset information
dataset_info = [
    {
        "table_name": "video_comments",
        "file_name": "comments.csv"
    },
    {
        "table_name": "video_statistics",
        "file_name": "videos-stats.csv"
    },
    # Add more datasets and their corresponding table names and file names
]

In [4]:
# Create an engine to the MySQL database
engine = create_engine(f'mysql+mysqlconnector://{uname}:{pw}@localhost/{db_name}', echo=False)

In [ ]:
# Load datasets and write to corresponding tables
for info in dataset_info:
    table_name = info["table_name"]
    file_name = info["file_name"]
    
    # Read the CSV file
    data = pd.read_csv(file_name, encoding='utf-8')
    
    # Modify column names to match industry-standard conventions
    data.columns = data.columns.str.replace(' ', '_').str.lower()
    
    # Write the data from the CSV file to the database
    data.to_sql(table_name, con=engine, index=False, if_exists='replace')
    
print("Data loaded into MySQL database successfully.")